/* Fonts */
@import url("fontawesome-all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

@font-face {
  font-family: 'Edition';
  src: url('assets/css/fonts/EditionRegular.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'De Valencia';
  src: url('assets/css/fonts/DeValencia-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'METROPOLIS PERSONAL USE';
  src: url('assets/css/fonts/METROPOLISPERSONALUSE-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Allegro';
  src: url('Allegro.woff2') format('woff2'),
      url('Allegro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* HTML */
header {
  position: relative;
  text-align: center;
  background-color: transparent;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#headerstorytelling {
  position: relative;
  background-color: transparent;
  height: 6em;
  min-height: 1em;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Amatic SC', cursive;
}

body {
  background-color: bisque !important;
}


h1 {
  font-family: 'Edition';
  text-align: center;
}

h2 {
    position: absolute;
    text-align: center;
    top: 50%;
    color: aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

a {
  color: #000000 !important;
	text-decoration: none !important;
}




