/* H2 transitions */
#intro_h{
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold !important;
    font-size: 5rem !important;
    transition: 1s;
    opacity: 0;
}
#intro_h[data-scroll] {
    transition: opacity 1s;
  }
#intro_h[data-scroll="in"] {
    opacity: 1;
    transition-delay: 1s;
  }
#intro_h[data-scroll="out"] {
    opacity: 0;
    transition-delay: 1s;
  }

/* Paragraphs transitions */
#intro_p{
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    transition: 1s;
    opacity: 0;
}
#intro_p[data-scroll] {
    transition: opacity 1s;
  }
#intro_p[data-scroll="in"] {
    opacity: 1;
    transition-delay: 1s;
  }
#intro_p[data-scroll="out"] {
    opacity: 0;
    transition-delay: 1s;
  }

/* Imgs transitions */
#img_story {
    position: relative;
    align-items: center !important;
    transition: 1s;
    opacity: 0;
}
#img_story[data-scroll] {
    transition: opacity 1s;
  }
#img_story[data-scroll="in"] {
    opacity: 1;
    transition-delay: 1s;
  }
#img_story[data-scroll="out"] {
    opacity: 0;
    transition-delay: 1s;
  }
/* H3 transitions */
#secondary_h{
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold !important;
  font-size: 3rem !important;
  transition: 1s;
  opacity: 0;
}
#secondary_h[data-scroll] {
    transition: opacity 1s;
  }
#secondary_h[data-scroll="in"] {
    opacity: 1;
    transition-delay: 1s;
  }
#secondary_h[data-scroll="out"] {
    opacity: 0;
    transition-delay: 1s;
  }
/* Arrow scrolling down animation */
.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
  }
  
.arrows path {
    stroke: #2994D1;
    fill: transparent;
    stroke-width: 1px;	
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
@keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
@-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
.arrows path.a3 {	
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }

/* Text decoration*/
.underlined {
    background-image: linear-gradient(120deg, #90a4ee 0%, #8fd3f4 80%);
    border-radius: 2px !important;
    padding: 1px 2px !important;
  }
  
