#story_beg {
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold !important;
    font-size: 5rem !important;
    transition: 2s;
    opacity: 0;
}

#story_beg[data-scroll] {
    transition: opacity 1s;
  }
#story_beg[data-scroll="in"] {
    opacity: 1;
    transition-delay: 1s;
  }
#story_beg[data-scroll="out"] {
    opacity: 0;
    transition-delay: 1s;
  }

  #story {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    transition: 1s;
    opacity: 0;
  }
  #story[data-scroll] {
    transition: opacity 1s;
  }

  #story [data-scroll="in"] {
    opacity: 1;
    transition-delay: 1s;
  }
 
  #story[data-scroll="out"] {
    opacity: 0;
    transition-delay: 1s;
  }  



  #photography {
    position: relative;
    align-items: center !important;
    transition: 2s;
    opacity: 0;
  }
 #photography [data-scroll] {
    transition: opacity 1s;
  }
  #photography[data-scroll="in"] {
    opacity: 1;
    transition-delay: 1s;
  }
  [data-scroll="out"] {
    opacity: 0;
    transition-delay: 1s;
  }


  #questions {
    font-family: 'Poiret One', cursive;
    font-weight: bold !important;
    text-align: center;
    transition: 2s;
    opacity: 0;
}

#questions[data-scroll] {
    transition: opacity 1s;
  }
#questions[data-scroll="in"] {
    opacity: 1;
    transition-delay: 1s;
  }
#questions[data-scroll="out"] {
    opacity: 0;
    transition-delay: 1s;
  }

  

.underlined {
    background-image: linear-gradient(120deg, #90a4ee 0%, #8fd3f4 80%);
    border-radius: 2px !important;
    padding: 1px 2px !important;
  }